@import url(/css/markdownpad.css);
@import url(/css/common.css);
@import url(pagintor.css);
body {
  width: 100%;
  background-color: white;
  position: relative; }

header.site-header {
  background: #00945d;
  border-bottom: 2px solid black; }

.site-title {
  font-size: 24px;
  color: #000; }

.site-nav {
  overflow: hidden; }

.trigger {
  text-align: right; }

.site-nav .trigger a {
  /*float:left;*/
  padding: 10px;
  display: inline-block;
  clear: both;
  color: #f8f8f8; }

.left-navigation {
  height: 100%;
  background-color: #252525;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; }

.left-navigation-header {
  text-align: center; }

.left-navigation-header a {
  color: #99cc33;
  text-decoration: none; }

.category-list li {
  display: block; }

.category-list li a {
  display: block;
  padding-left: 30%;
  color: #fff;
  font-size: 16px; }

.right-part {
  width: 85%;
  float: right;
  over-flow: hidden; }

.page-content {
  background-color: white;
  margin: 40px auto 20px auto;
  min-height: 550px;
  border: 0px solid #eaeaea;
  border-radius: 10px; }

.page-content, .home, .wrapper {
  max-width: 960px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto; }

.contact-list {
  list-style: none; }

.post-list {
  list-style: none; }

.post-block {
  margin-bottom: 20px; }

.post-link, .post-date, .post-category {
  font-size: 14px; }

.post-link {
  overflow: hidden;
  font-size: 26px;
  color: #000; }

.post-link:hover {
  color: #009a61; }

.right-icon {
  float: right; }

.p-left {
  width: 30%;
  float: left; }

.p-right {
  width: 70%;
  float: right; }

.commont {
  border-top: 2px solid yellow; }

.site-footer {
  border-top: 1px solid #f8f8f8;
  position: relative;
  bottom: 0;
  color: #a8a8a8;
  font-size: 13px; }
