@import "/css/markdownpad.css";
@import "/css/common.css";
@import "pagintor.css";

$header-bg-cls: #00945D;

$wrap-content-width: 960px;

$wrap-width: 100%;

$cls-slider: #000;

$body-bg-color: #252525;

$back-bg-color: #fff;

$hover-cls: #009A61;

body{
	width:100%;
	background-color: $body-bg-color;
	position: relative;
}

@import "header.scss";

.page-content{
	background-color: $back-bg-color;
	margin: 80px auto 20px auto;
	min-height: 550px;
	border: 1px solid #eaeaea;
	border-radius: 10px;
}

.page-content,.home,.wrapper
{
	max-width: $wrap-content-width;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
}
.contact-list
{
	list-style: none;
}
.post-list{
	list-style:none;
}
.post-link,.post-date,.post-category
{
	font-size: 14px;   
}
.post-link{
	display:block;
	overflow:hidden;
}
.post-link:hover{
	color: $hover-cls;
}
.right-icon{
	float:right;
}

.p-left{
	width: 30%;
	float:left;
}

.p-right{
	width: 70%;
	float: right;
}

@import "comment.scss";
@import "footer.scss"; 
