<!DOCTYPE html>
<html>

  {% include special_header.html %}

  <body>
    <div id="left-navigation" class="left-navigation">
	<div class="left-navigation-header">
		<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	</div>
	<ul id="categoryList" class="category-list">
		 <li><a class="page-link" href="/">首页</a></li>
		  <li><a class="page-link" href="#strong-meeting-system">1.四创会议室系统</a></li>
		  <li><a class="page-link" href="#back-end-tool-web">2.后端配置工具Web</a></li>
		  <li><a class="page-link" href="#zhuhai-report-table">3.珠海三防系统报表</a></li>
		  <li><a class="page-link" href="#mongo-image-manager">4.Mongo图片管理</a></li>
		  <li><a href="#fish-safe-item">5.渔业安全项目</a></li>
		  
	</ul>
</div>

    <div id="right-part" class="right-part">
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>

  

  </body>

</html>



